*{
  font-family: Montserrat, sans-serif;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFBF5

}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.boton {
  color: #674188;
  font-weight: bold;
  text-decoration: none;
}

.boton:hover {
  text-decoration: none;
}

.boton-pequeno {
  font-size: 14px;
}

/* Estilos del encabezado */ 

header { 
  background-color: #FFFBF5; 
  padding: 25px 0;
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
}

.menu a { 
  text-decoration: none; 
  transition: all .50s ease;
}

.menu a:hover {
  color: #A67A5B;
}

.menu a#active{
  color: #A67A5B;
}
.logo-imagen {
  max-width: 150px;
  height: auto;
  margin: 0;
}

.contenedor{ 
  padding: 0 2em; 
  height: 50px;
  width: 185%; 
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  background-color: #FFFBF5;
}

.nav-container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;  
  align-items: center;
  margin-left: -30px;
}

.menu > li {
  position: relative;
  margin-left: 15px;
}

.menu > li:first-child {
  margin-left: 0;
}

.menu > li > a {
  color: #674188;
  font-weight: bold;
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
}

.menu > li:hover > .submenu {
  display: flex;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 0.9);
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
  border-radius: 10px;
}

.submenu > li {
  margin-top: 10px;
}

.submenu > li > a {
  color: #674188;
  text-decoration: none;
}

.iconos {
  display: flex;
  align-items: normal;
  margin-left: -70px;
}

.iconos .boton {
  margin-left: 10px;
}

.boton{
  padding: 20px;
}

.lineaotra p{
  background-color: #FFFBF5;
  color: #FFFBF5;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.linea {
  width: 100%;
}

.linea p{
  background-color: #674188;
  color: #674188;
  margin: 0;
  padding: 0;
}
/* Estilos del cuerpo de la página */

.catalogo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #FFFBF5;
}

.producto {
  position: relative;
  text-align: center;
  margin: 20px 10px;
  flex-basis: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

.producto:hover {
  transform: scale(1.05);
}

.producto img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  transition: opacity 0.3s;
  border-radius: 20px;
}

.producto img:hover {
  opacity: 0.8;
  filter: brightness(50%);
}

.comprar {
  background-color: #674188;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  width: 50%;
  transition: transform 0.3s;
  border-radius: 10px;
}

.comprar:hover {
  background-color: #C3ACD0;
  transform: scale(1.1);
}

.descripcion {
  margin-bottom: 40px;
  margin-top: 30px;
  width: 80%;
  font-size: 15px;
  background-color: #DBC4F0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
}

/* Estilos del pie de página */

.footer-distributed{
  background: #674188;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #d2bae8;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color: #b291cf;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #d2bae8;
  text-decoration: none;;
}

.footer-center p{
 padding-top: 20px;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
  margin-left: -40px;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: -10px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-icons img{
  max-height: 45px;
}

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

@media screen and (max-width: 480px) {
 /* Estilos para moviles */

 /* menu */
.contenedor{ 
  padding: 0 2em; 
  height: 50px;
  width: 20%; 
  align-items: center;
  justify-content: space-between; 
  background-color: #FFFBF5;
}

.boton {
  color: #674188;
  font-weight: bold;
  text-decoration: none;
margin-left: -10px;
  font-size: 9px;
}

.iconos {
  margin-left: -10px;
}

 /* todo lo demas */

.contenedor img {
  max-width: 90px;
  margin-left: -20px;
}

.comprar b{
padding: 10px 90px;
width: 50%;
font-size: 20px;
text-align: left;
margin-left: -40px;
margin-right: 200px;
}

.descripcion {
  margin-bottom: 40px;
  margin-top: 30px;
  width: 80%;
  font-size: 15px;
  background-color: #DBC4F0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
}

}

@media screen and (min-width: 481px) and (max-width: 768px){
 /* Estilos para tablets */
/* menu */

.contenedor{ 
  padding: 0 2em; 
  height: 50px;
  width: 50%; 
  align-items: center;
  justify-content: space-between; 
  background-color: #FFFBF5;
}
.boton {
  color: #674188;
  font-weight: bold;
  text-decoration: none;
  font-size: 11px;
}

.iconos {
  margin-left: 10px;
}

/* todo lo demas */

.contenedor img {
  max-width: 90px;
  margin-left: -20px;
}

.comprar b{
padding: 10px 90px;
width: 50%;
font-size: 20px;
text-align: left;
margin-left: -40px;
margin-right: 200px;
}

.descripcion {
  margin-bottom: 40px;
  margin-top: 30px;
  width: 80%;
  font-size: 15px;
  background-color: #DBC4F0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
}

}